<div class="footer">
    <div>Главная</div>
    <div>Кланы</div>
    <div class="qr-scan" id="qr_scan"> <img src="/img/ui/qr-scan.png" alt=""></div>
    <div>Друзья</div>
    <div>События</div>
</div>